:root {
    --amarillo: #EAC926;
    --Azul: #03264C;
    --Celeste: #1259c3;
    --Gris--oscuro: #666;
    --Gris--claro: #ebebeb;
    --Verde: #39b54a;
}

  
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
    background-color: #EAC926;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

.logo-buscador-compra{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

/*

.logoybuscador{
    display: flex;
    width: 300px;
    justify-content: center;

    .Logo{
        width: 50%;
        text-align: start}


    #buscador-header{
        display: flex;
        width: 50%;  
        align-items: center;
        justify-content: flex-end}
}


.compraencuotas{
    display: flex;
    justify-content: center;    
}*/
 

/*version desktop
@media (min-width:769px){
}}*/
.titular{
    text-align: center;
}

h4 {font-size: 24px;
}

.fa-truck{
    color:var(--Verde)
}





.menu-hamburguesa{
    color: white;
    background-color: #03264C;
    inline-size: 15px;
    border-radius: 2px;
    font-size: 1em;
    text-align: center;
    margin: auto;
}   

.pie{
    text-align: center;
}

.fa-credit-card{
    font-size:2em;
    margin-bottom: 10px;
}
.fa-gift{
    font-size: 2em;
    margin-bottom: 10px;
}

.fa-user-shield{
    font-size: 2em;
    margin-bottom: 10px;
}


main{
   text-align: center;
    width: 90%;
    margin: auto;
}
article{
    margin: 10px;
    width: 220px;
    height: 300px;
    background-color: #ffffff;
   box-shadow: 0px 0px 15px rgb(100,100,100);
  
}
.cajachica{
    border-top: 1px solid #ebebeb; 
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    align-content: flex-start;  
    #icon{display: block;
        font-size: 16px;
        padding: 5px;
        width: 30px;
        height: 30px;
        border: 1px solid #39b54a;
        background-color: #FFF;
        border-radius: 50%;
        position: absolute;
        right: 20px;
        top: -15px;} 
    
}   
.descripcion-producto{ 
    font-size: 16px;
    width: 100%;
    margin-top: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
     flex-wrap: wrap;
     align-content: space-between;
     align-items: flex-start;
    }
    



.precio-descuento{
    margin-top:10%;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content:space-between;

    .precio{
        font-size: 18px;
        flex-grow: 0.3;
        justify-content: flex-start;

    }

    .descuento{
        font-size: 16px;
        flex-grow: 0.7;
        justify-content: flex-end;
        color:var(--Verde)
    }
}

.img{
    width: 200px;
}
.ultima-visita{
    display: flex;
    flex-wrap: nowrap;
   justify-content: center;
    align-items: center;
}

.Ofertas{
    display: flex;
    flex-wrap: nowrap;
   justify-content: center;
    align-items: center;
}











