*{
    box-sizing: border-box;
    margin:0;
    padding:0;
    transition:0.5s;
}
:root {
    --amarillo: #EAC926;
    --Azul: #03264C;
    --Celeste: #1259c3;
    --Gris--oscuro: #666;
    --Gris--claro: #ebebeb;
    --Verde: #39b54a;
}

.nav-bar{
    margin-top: 10px;
}

header{
    width: 100%;
}
.logo-buscador-compra{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}
.buscador-header{
    width: 150px;
    height: 20px;
   
}
.fa-magnifying-glass{
    width: 15px;
}
.lupa-buscador{
    display: flex;

}



.formulario1{ 
    margin: 50px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
.perfil-de-usuario{
    padding-top: 10px;
    padding-bottom: 10px;
} }
.categorias{
padding-top: 10px;
padding-bottom: 10px;
}
.foto{
    padding-top: 10px;
}

.contraseña{
    margin-top: 5px;

}




.botones-register{
    padding: 2px;
    margin: 5px;
}
.boton-login{
    background-color:var(--Celeste);
    color: var(--Gris--claro);
    margin-top: 10px;
    border-radius: 4px;
    width: 80px;
    height: 20px;
    border-style: none;         
}
.boton-login:hover{
    background-color: #0022AA;
    transition: 400ms;
    
}

.usuario-login{
    width: 200px;
    border-radius: 3px;
    border:none;
    height: 1.4em;
}
.contraseña-login{
width: 200px;
border-radius: 3px;
border:none;
height: 1.4em;
}


.formulario2{
    display: flex;
    flex-direction: column;
   margin-top: 100px;
   width: 100%;
   align-items: center;
   padding-bottom: 100px;
}

.Categorias{
    display: flex;
    margin: 10px;
    margin-bottom: 0px;
}

.Nombre{
    border-radius: 3px;

}
.usuario{
    border-radius: 3px;
}
.email{
    border-radius: 3px;
}
.fechadenacimiento{
    border-radius: 3px;
}
.domicilio{
    border-radius: 3px;
}
.contraseña{
    margin-top: 10px;
    border-radius: 3px;
}
.confirmar{border-radius: 3px;}

.perfil-de-usuario{
    display: flex;
    justify-content: space-around;

    }

.boton-enviar{
    background-color: var(--Azul);
    color: var(--Gris--claro);
    border-radius: 3px;
    height: 2em;
    width: 60px;
}

.boton-borrar{
    background-color: var(--Azul);
    color: var(--Gris--claro);
    border-radius: 3px;
    height: 2em;
    width: 110px;
} 
.botones-register{
    margin-top: 20px;
}

main{
    min-height: calc(100vh-200px);
}

footer{
    height: 200px;
    width: 100%;
  
}

.body{
    height: 100vh;
    width: 100%;
}

@media(min-width:1240px){
    .pie{
        display: flex;
        flex-direction: row;
    }
    .Copyright{
        width: 100%;
        text-align: center;
    }
}