

/*MEDIAS QUERIS*/

@media(min-width:412px){
    .compraencuotas{
        display: none;
    }
}



@media (min-width:768px){
    .compraencuotas{
        display: inline;
    }
    .menu-hamburguesa{display: none;}
    .nav-bar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .ul1{display: flex;
        list-style: none;
        width: 30%;
        justify-content: space-evenly;
        font-size: 10px;
    }
    
    .ul2{display: flex;
        list-style-type: none;
        width: 30%;
        justify-content: space-around;
        font-size: 10px;
        }
    
}
.banner-ofertas{
    width: 100%;
    padding-bottom: 10px;
}


@media(min-width:1240px){
    .menu-hamburguesa{display: none;}
    .nav-bar{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    .ul1{display: flex;
        list-style: none;
        width: 30%;
        justify-content: space-evenly;
        font-size: 15px;
    }
    
    .ul2{display: flex;
        list-style-type: none;
        width: 30%;
        justify-content: space-around;
        font-size: 15px;
        }
    
}